.types {
  border-style: solid none;
  border-width: 1px;   
  border-radius: 5px;
  padding: 0.15em;
  font-size: 9pt;
  color: #F8F8F8;
  text-shadow: 0px 1px 1px #807870;
}

.fire-type{
  background: #F08030;
  border-top-color: #F8D030;
  border-bottom-color: #C03028;

}

.normal-type{
  background: #A8A878;
  border-top-color: #D8D8D0;
  border-bottom-color: #705848;
}

.water-type{
  background: #6890F0;
  border-top-color: #98D8D8;
  border-bottom-color: #807870;
}

.electric-type{
  background: #F8D030;
  border-top-color: #F8F878;
  border-bottom-color: #B8A038;
}

.grass-type{
  background: #78C850;
  border-top-color: #C0F860;
  border-bottom-color: #588040;
}

.flying-type{
  background: #A890F0;
  border-top-color: #C8C0F8;
  border-bottom-color: #705898;
}

.rock-type{
  background: #B8A038;
  border-top-color: #E0C068;
  border-bottom-color: #886830;
}

.steel-type{
  background: #B8B8D0;
  border-top-color: #D8D8C0;
  border-bottom-color: #807870;
}

.ground-type{
  background: #E0C068;
  border-top-color: #F8F878;
  border-bottom-color: #886830;
}

.bug-type{
  background: #A8B820;
  border-top-color: #D8E030;
  border-bottom-color: #A8B820;
}

.poison-type{
  background: #A040A0;
  border-top-color: #D880B8;
  border-bottom-color: #483850;
}

.ice-type{
  background: #98D8D8;
  border-top-color: #D0F8E8;
  border-bottom-color: #9090A0;
}

.fighting-type{
  background: #C03028;
  border-top-color: #F08030;
  border-bottom-color: #484038;
}

.psychic-type{
  background: #F85888;
  border-top-color: #F8C0B0;
  border-bottom-color: #789010;
}

.dark-type{
  background: #705848;
  border-top-color: #A8A878;
  border-bottom-color: #484038;
}

.ghost-type{
  background: #705898;
  border-top-color: #A890F0;
  border-bottom-color: #483850;
}

.dragon-type{
  background: #7038F8;
  border-top-color: #B8A0F8;
  border-bottom-color: #483890;
}

.fairy-type{
  background: #F0B6BC;
  border-top-color: #F5CAD1;
  border-bottom-color: #905F63;
}