.panel-header {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: capitalize;

}

.stat-block {
    background-color: gray;
    
    text-transform: capitalize;
    text-align: left;
    padding-left: 40px;

}